{% extends "index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title%} Home {% endblock %}
</head>
<body>
    {% block content%}
    <div class="container_home">
        <div class="form_div" style="margin-bottom: 500px;">
            <button onclick="Post()">Post</button>
            <form action="" method="POST">
                <h1>Post</h1>
                <p>Posts are random</p>
                <textarea name="post_text" maxlength="400" ></textarea><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="container-post">
            <template>
                <div class="hunposts" >
                    <div style="margin-bottom: 10px;"><a href="/profile/{{i}}" class="name-guy"></a></div>   
                    <div><p class="posts"></p></div>
                </div>
            </template>
        </div>
        <button class="ref" onclick="Refresh()" style="display:block; margin: auto;">Refresh</button>

    </div>
    <script>
        let template = document.getElementsByTagName("template")[0];
        let container = document.getElementsByClassName("container-post")[0];
        let post = document.getElementsByClassName("hunposts");
        let names = document.getElementsByClassName("name-guy");
        let posts = document.getElementsByClassName("posts");
        let ref = document.getElementsByClassName("ref");
        let num = 0;
        let max_lenght = '{{len}}';
        max_lenght = parseInt(max_lenght)
        console.log(max_lenght)
        window.addEventListener("scroll", function(){
            if(ref[0].getBoundingClientRect().top < window.innerHeight){
                if(num <= max_lenght){
                    console.log(num)
                    const xhr = new XMLHttpRequest();
                    xhr.open('POST', `/load?n=${num}`);
                    xhr.onload = function(){
                        const data = JSON.parse(xhr.response);
                        console.log(data)
                        let template_clone = template.content.cloneNode(true);
                        template_clone.querySelector(".name-guy").innerHTML = data.name;
                        template_clone.querySelector(".posts").innerHTML = data.post;
                        container.appendChild(template_clone);

                    }
                    num += 1;
                    xhr.send()
                }   
               
            }
            
            
        })
        function Refresh(){
            var refresh = "/home"
            window.location.replace(refresh)

        }
        let click = 0;
        function Post(){
            if(click === 0){
                document.getElementsByTagName("form")[0].style.display = "inline-block";
                document.getElementsByTagName("button")[0].style.marginBottom = "60px"
                click++;
            }
            else{
                document.getElementsByTagName("form")[0].style.display = "none";
                document.getElementsByTagName("button")[0].style.marginBottom = "20px"
                click--;

            }
        }
    </script>
    {% endblock %}
    
</body>
</html>