{% extends "index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title%} Profile {% endblock %}
</head>
<body>
    {% block content%}
    <div class="container_profile_user">
        <form action="" method="POST" class="form_profile_user">
            <h1 style="display: inline-block;">{{name}}</h1>
            <h2 style="margin-top: 15px; margin-bottom: 15px;">Description</h2>
            <textarea name="desc_text" maxlength="400" style="padding: 10px; width: 270px; height: 150px; resize: none;">{{desc}}</textarea><br>
            <input type="submit" value="Update">
        </form>
        <div class="friend_list">
            <div class="friends">
                <p style="font-weight: bold; margin-top: 10px; margin-bottom: 10px;">Your Friends:</p>
                {% for i in friend %}
                    <a href="/profile/{{i}}">{{i}}</a><br>
                {% endfor %}
                
            </div>
            <div class="friends" style="margin-top:15px; ">
                <p style="font-weight: bold; margin-top: 10px; margin-bottom: 10px;">People Who Friended You:</p>
                {% for i in pfriend %}
                    <a href="/profile/{{i}}">{{i}}</a><br>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
    
</body>
</html>