{% extends "index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title%} Profile {% endblock %}
</head>
<body>
    {% block content%}
    <div class="container_profile_view">
        <div class="profile_view">
            <h1 style="display: inline-block;">{{name}}</h1>
            <h2 style="margin-top: 15px; margin-bottom: 15px;">Description</h2>
            <div style="padding: 10px; width: 270px; height: 150px; border: 1px solid black; margin: auto; overflow-wrap: break-word;">{{desc}}</div>
            <form action="" method="POST" class="form_profile_view">
                <input type="submit" value={{friend_or}}>
            </form>
        </div>
        <div class="friend_list">
            <div class="friends">
                <p style="font-weight: bold; margin-top: 10px; margin-bottom: 10px;">Friends:</p>
                {% for i in friend %}
                    <a href="/profile/{{i}}" style="margin-top: 5px; margin-bottom: 5px;">{{i}}</a><br>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
    
</body>
</html>