<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt magnam, vero voluptas culpa vitae laborum labore sunt error quia assumenda repellendus provident corporis ut temporibus rem molestiae, excepturi distinctio.</p>
    {% for i in range(50000) %}
        <h1 class="test" style="visibility: hidden; display: none;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa mollitia voluptatum iste consequuntur voluptates voluptatibus provident cumque laborum repellendus atque sint beatae, culpa dolorum molestias. Iure reiciendis quo magnam deleniti.</h1>
    {% endfor %}
    <hr class="line">
    <script>
        
        let test = document.getElementsByClassName("test");
        let line = document.getElementsByClassName("line");
        let num
        let num2
        console.log(test.length) 
        window.addEventListener("scroll", function(){
            console.log(window.innerHeight)
            console.log(line[0].getBoundingClientRect().top);
            /*
            for(let i=0; i<test.length; i++){
                console.log("fff")
                num = test[i]
                num2 = test2[i] 
                if(num2.getBoundingClientRect().top < window.innerHeight){
                    console.log("zzz")
                    var clon = num.content;
                    var clon2 = document.importNode(clon, true);
                    document.body.appendChild(clon2)

                }
            }
            */
           for(let i=0; i<test.length; i++){
               num = test[i]
               num2 = line[0]
               if(num2.getBoundingClientRect().top < window.innerHeight){
                   num.style.visibility = "visible"
                   num.style.display = "block"
               } 
           }
            
            
        })
        
    </script>
</body>
</html>